AIRFLOW_UID=50000

# Airflow connection URI used by the DAG.
# URL-encode USER and PASSWORD if they contain special characters like @, :, /, #, ?, or &.
AIRFLOW_CONN_SNOWFLAKE_DEFAULT=snowflake://USER:PASSWORD@snowflake/TRANSFORM?account=ACCOUNT&database=NYC_TAXI_DW&warehouse=COMPUTE_WH&role=ACCOUNTADMIN

SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=NYC_TAXI_DW
SNOWFLAKE_SCHEMA=TRANSFORM

